.location-card {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-right: 20px;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  font-size: 12px;
}

.img-card {
  height: 100px;
  width: 100px;
  border-radius: 20px;
}

.location-txt {
  line-height: 18px;
}

.location-text-year {
  color: gray;
  font-size: 13px;
}

.weather-container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin-top: 50px;
  border-radius: 20px;
  background-color: #083338;
  gap: 2;
}

.weather-navbar {
  flex-direction: row;
  justify-content: space-between;

  align-items: center;
  display: flex;
  margin-bottom: 20px;
}
